header {
  position: relative;
  height: 100vh;
  width: 100vw;
  @include flex(row, center, center);
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
}

.hero__container {
  position: relative;
  @include grid(2, 1, 20px);
  grid-template-columns: 40% 60%;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.425);
  width: 60vw;
  height: 65vh;
  border-radius: 25px;
  overflow: hidden;
  z-index: 2;
}

.hero__block1 {
  text-align: left;
  padding: 15px 25px;
  color: white;

  h1 {
    font-weight: 300;
    font-size: 9rem;
  }

  h2 {
    font-size: 5rem;
    font-weight: 600;
  }

  .btn {
    margin-top: 40px;
    margin-left: 0;
    width: 60%;
  }
}

.hero__block2 {
  position: relative;
}

.hero__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
}

.hero__svg1 {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 70px;
  transform: translate(-50%, -50%);
  fill: $secondary;
}

.hero__svg2 {
  @extend .hero__svg1;
  top: 45%;
  left: 20%;
  fill: $accent;
}

.hero__svg3 {
  @extend .hero__svg1;
  top: 30%;
  left: 80%;
  fill: $primary;
}

.circle {
  clip-path: circle(50% at 50% 50%);
  width: 350px;
  height: 350px;
  position: absolute;
  top: 600px;
  left: 300px;
  z-index: 0;
  background-image: linear-gradient(49deg, #2929ff88 0%, #807eff5e 100%);
}

.circle2 {
  clip-path: circle(50% at 50% 50%);
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 360px;
  z-index: 0;
  background-image: linear-gradient(305deg, #298dff88 0%, #807eff5e 100%);
}

.square {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(45deg, #a239f754 60%, #3c91ff 100%);
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 200px;
  border-radius: 25px;
  backdrop-filter: blur(5px);
}

.polygon {
  clip-path: circle(50% at 50% 50%);
  width: 450px;
  height: 450px;
  background-image: linear-gradient(135deg, #a239f754 0%, #3c91ff 80%);
  z-index: 0;
  position: absolute;
  top: 500px;
  right: 200px;
}
