.card-container {
  @include grid(2, 2);
  width: 1500px;
  margin: 0 auto;
}

.logos-container {
  margin-top: 30px;
  @include flex(row, center, center);
}

.skills__logo {
  margin: 0 20px;
  height: 120px;
  width: auto;
}
.skills__logo-jquery {
  margin: 0 20px;
  height: 100px;
  width: auto;
}

.skills__logo-section {
  @include flex(column, center, center);
}
