.test {
  width: 100vw;
  height: 100vh;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: var(--color-primary);
  color: white;
}

::selection {
  background: var(--color-primary);
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 0.7rem;
  line-height: 1.1;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

h1 {
  font-size: 7rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/*Blocks*/
.glass {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.2) 100%);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.block {
  padding: 3rem 0;
  overflow-y: hidden;
}

/*buttons*/
.btn-outline {
  border: 2px solid white;
  color: white;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn-outline:hover {
  color: black;
  background: white;
}

.btn-primary {
  border: 2px solid #3c91ff;
  color: #3c91ff;
  background: transparent;
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.btn-primary:hover {
  color: white;
  background: #3c91ff;
}

.btn-primary:focus {
  color: white;
  background: #0068ef;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-secondary {
  border: 2px solid #807eff;
  color: #807eff;
  background: transparent;
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.btn-secondary:hover {
  color: white;
  background: #807eff;
}

.btn-secondary:focus {
  color: white;
  background: #6765ff;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn-accent {
  border: 2px solid #b255ff;
  color: #b255ff;
  background: transparent;
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.btn-accent:hover {
  color: white;
  background: #b255ff;
}

.btn-accent:focus {
  color: white;
  background: #8f09ff;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn {
  margin: 20px 10px;
  outline: 0;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .btn {
    font-size: 1.8rem;
  }
}

header {
  position: relative;
  height: 110vh;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#8ec5fc), to(#e0c3fc));
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
}

.hero__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-shadow: 0 30px 80px rgba(0, 0, 0, 0.425);
          box-shadow: 0 30px 80px rgba(0, 0, 0, 0.425);
  width: 65%;
  border-radius: 25px;
  overflow: hidden;
  z-index: 2;
}

.hero__block1 {
  text-align: left;
  padding: 15px 25px;
  color: white;
}

.hero__block1 h1 {
  font-weight: 300;
  font-size: 9rem;
}

.hero__block1 h2 {
  font-size: 4rem;
  font-weight: 600;
}

.hero__block1 .btn {
  margin-top: 40px;
  margin-left: 0;
  width: 250px;
}

.hero__block2 {
  position: relative;
}

.hero__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
}

.hero__svg1, .hero__svg2, .hero__svg3 {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 150px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #807eff;
}

.hero__svg2 {
  top: 45%;
  left: 20%;
  fill: #b255ff;
}

.hero__svg3 {
  top: 30%;
  left: 80%;
  fill: #3c91ff;
}

.circle {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 350px;
  height: 350px;
  position: absolute;
  top: 600px;
  left: 300px;
  z-index: 0;
  background-image: linear-gradient(49deg, #2929ff88 0%, #807eff5e 100%);
}

.circle2 {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 200px;
  height: 200px;
  position: absolute;
  top: 100px;
  left: 360px;
  z-index: 0;
  background-image: linear-gradient(305deg, #298dff88 0%, #807eff5e 100%);
}

.square {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(45deg, #a239f754 60%, #f374ffad 100%);
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 200px;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.polygon {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 450px;
  height: 450px;
  background-image: linear-gradient(135deg, #a239f754 0%, #3c91ff 80%);
  z-index: 0;
  position: absolute;
  top: 500px;
  right: 200px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

@media screen and (max-width: 1440px) {
  .circle {
    left: 100px;
    top: 80px;
  }
  .polygon {
    top: 120px;
    right: 100px;
  }
  .circle2,
  .square {
    display: none;
  }
  .hero__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 0px;
  }
  .hero__block1 {
    text-align: center;
  }
  .hero__block1 h1 {
    font-size: 6rem;
  }
  .hero__block1 h2 {
    font-size: 3rem;
  }
  .hero__img {
    width: 150px;
  }
  .hero__svg1, .hero__svg2, .hero__svg3 {
    top: 45%;
    left: 25%;
    width: 65px;
  }
  .hero__svg2 {
    top: 0;
    left: 10%;
    width: 50px;
  }
  .hero__svg3 {
    left: 80%;
    top: 20%;
    width: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .hero__block1 h1 {
    font-size: 4.5rem;
  }
  .hero__container {
    height: 95%;
  }
}

@media screen and (max-width: 768px) {
  .circle {
    left: 100px;
    top: 60px;
  }
  .polygon {
    top: 140px;
    right: 100px;
  }
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    height: 50%;
  }
  .hero__block1 {
    height: 100%;
    padding: 5px;
  }
  .hero__block1 .btn {
    margin: 20px auto;
  }
  .hero__block2 {
    display: none;
  }
}

.about {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(#8ec5fc), to(#e0c3fc));
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
  overflow: hidden;
  padding: 90px 20px;
  height: 110vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  gap: 200px;
  width: 70%;
  margin: 0 auto;
}

.about__text {
  padding: 30px;
  border-radius: 25px;
  color: #616161;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.466);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.466);
  height: 600px;
}

.about__text h2 {
  font-size: 7rem;
  margin-bottom: 15px;
  margin-top: 20px;
}

.about__text p {
  font-size: 2.4rem;
  letter-spacing: 0.5px;
}

.about__logo-container {
  border-radius: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 30px;
  padding: 20px 15px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.466);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.466);
  height: 600px;
}

.logo-img-sm, .logo-img-lg {
  width: 120px;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo-img-lg {
  width: 260px;
}

.about__circle1 {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  position: absolute;
  width: 400px;
  height: 400px;
  top: 500px;
  left: 100px;
  background-image: linear-gradient(49deg, #2929ff88 0%, #807eff5e 100%);
}

.about__circle2 {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  position: absolute;
  width: 400px;
  height: 400px;
  top: 40px;
  right: 100px;
  background-image: linear-gradient(315deg, #a239f788 30%, #f374ff 100%);
}

@media screen and (max-width: 1879px) {
  .about {
    height: auto;
  }
  .about__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 50px;
  }
  .about__text,
  .about__logo-container {
    height: 400px;
  }
  .about__logo-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    gap: 10px;
  }
}

@media screen and (max-width: 1440px) {
  .about__logo-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  .about__text h2 {
    font-size: 5rem;
  }
  .about__text p {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 850px) {
  .about__container {
    width: 85%;
  }
  .about__text {
    padding: 20px 15px;
  }
  .logo-img-sm, .logo-img-lg {
    width: 80px;
  }
  .logo-img-lg {
    width: 175px;
  }
}

@media screen and (max-width: 700px) {
  .about__text {
    height: auto;
    text-align: center;
  }
  .about__text h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 575px) {
  .about__logo-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 10px;
  }
  .logo-img-sm, .logo-img-lg {
    width: 50px;
  }
  .logo-img-lg {
    width: 120px;
  }
}

@media screen and (max-width: 400px) {
  .about__text h2 {
    font-size: 3.5rem;
  }
  .logo-img-lg {
    width: 50px;
  }
}

.projects {
  overflow-x: hidden;
  position: relative;
  padding: 80px;
  background-image: -webkit-gradient(linear, left top, right top, from(#8ec5fc), to(#e0c3fc));
  background-image: linear-gradient(90deg, #8ec5fc 0%, #e0c3fc 100%);
}

.projects__switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch {
  margin: 0 40px;
}

#landing-pages,
#websites {
  display: none;
}

.projects__container {
  margin: 45px auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  width: 60%;
  min-width: 340px;
  border-radius: 25px;
}

.test-block {
  position: relative;
  width: 300px;
  height: 300px;
  background: black;
  border-radius: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  overflow: hidden;
  margin: 40px 0;
  -webkit-box-shadow: 0 20px 50px black;
          box-shadow: 0 20px 50px black;
}

.email__img {
  height: 100%;
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.email2__img {
  height: 100%;
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: -20px;
     object-position: -20px;
}

.email3__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: -28px;
     object-position: -28px;
}

.email4__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: -28px;
     object-position: -28px;
}

.email5__img {
  -o-object-fit: contain;
     object-fit: contain;
}

.landing-one-img {
  -o-object-fit: contain;
     object-fit: contain;
}

.landing-two-img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: -20px;
     object-position: -20px;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.877);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.description:hover {
  opacity: 1;
}

.description__heading {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: white;
  text-decoration: underline;
  letter-spacing: 1.5px;
}

.description__text {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: white;
  letter-spacing: 1.2;
}

.projects__square1 {
  background-image: linear-gradient(315deg, #a239f788 30%, #f374ff 100%);
  position: absolute;
  bottom: 50px;
  left: 200px;
  width: 500px;
  height: 500px;
  border-radius: 25px;
  z-index: 0;
}

.projects__square2 {
  background-image: linear-gradient(49deg, #2929ff88 0%, #807eff5e 100%);
  position: absolute;
  top: 165px;
  right: 300px;
  width: 250px;
  height: 250px;
  border-radius: 25px;
  z-index: 0;
}

@media screen and (max-width: 1870px) {
  .projects__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    gap: 0px;
  }
}

@media screen and (max-width: 1300px) {
  .projects__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[0];
        grid-template-rows: repeat(0, 1fr);
    gap: 0px;
  }
}

@media screen and (max-width: 600px) {
  .projects {
    padding: 40px 0;
  }
  .projects__switches {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects__switches .btn {
    margin-bottom: 15px;
  }
  .projects__square1 {
    bottom: 20px;
  }
  .projects__square2 {
    top: 240px;
  }
}

@media screen and (max-width: 400px) {
  .projects__container {
    min-width: 300px;
  }
  .test-block {
    width: 280px;
    height: 280px;
  }
  .description__heading {
    font-size: 2rem;
  }
  .description__text {
    font-size: 1.8rem;
  }
}

footer {
  background: #807eff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

footer p {
  font-size: 1.2rem;
  margin-top: 50px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=styles.css.map */