*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: var(--color-primary);
  color: white;
}

::selection {
  background: var(--color-primary);
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 0.7rem;
  line-height: 1.1;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/*Blocks*/
.block {
  padding: 3rem 0;
}

/*buttons*/
.btn-outline {
  border: 2px solid white;
  color: white;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn-outline:hover {
  color: black;
  background: white;
}

.btn-primary {
  border: 2px solid blue;
  color: blue;
  background: transparent;
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.btn-primary:hover {
  color: white;
  background: blue;
}

.btn-primary:focus {
  color: white;
  background: blue;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn {
  margin: 20px 10px;
  outline: 0;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}

/*lists*/
.list {
  padding-left: 40px;
}

.list__item {
  line-height: 1.8;
  font-size: 2.2rem;
  font-weight: 600;
  list-style: none;
  list-style-image: url(../images/tick.svg);
}

/*Cards*/
.card {
  -webkit-box-shadow: 0 0 20px 10px rgba(116, 116, 116, 0.486);
          box-shadow: 0 0 20px 10px rgba(116, 116, 116, 0.486);
  margin: 30px 10px;
  padding: 15px;
  border-radius: 5px;
  width: 700px;
  background-image: linear-gradient(300deg, rgba(2, 0, 36, 0) 0%, #fffefe 50%), url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  -webkit-transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0 40px 10px lightgray;
          box-shadow: 0 0 40px 10px lightgray;
}

.hero {
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(2, 0, 36, 0)), color-stop(40%, rgba(0, 0, 0, 0.89))), url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-image: linear-gradient(90deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.89) 40%), url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-position: center;
  height: 600px;
}

.hero__text-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 20px;
  height: 600px;
}

.hero__heading {
  font-size: 8rem;
  letter-spacing: 2px;
  color: white;
}

.hero__sub-heading {
  letter-spacing: 2px;
  margin-top: 15px;
  color: white;
  font-size: 3rem;
}

.rabbet-shape {
  position: absolute;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  width: 725px;
  height: 160px;
  top: 50%;
  left: 79.5%;
  -webkit-transform: translate(-50%, -60%);
          transform: translate(-50%, -60%);
  border: 3px dashed rgba(211, 211, 211, 0.438);
  background: rgba(255, 255, 255, 0);
}

.diamond-shape, .diamond-shape2 {
  position: absolute;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  background: rgba(255, 255, 255, 0.582);
  top: 140px;
  right: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.diamond-shape2 {
  top: 430px;
  right: 560px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hero__img {
  position: absolute;
  height: 400px;
  width: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -60px;
     object-position: 0 -60px;
  border-radius: 50%;
  border: 10px solid #646464;
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  width: 1500px;
  margin: 0 auto;
}

.logos-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__logo {
  margin: 0 20px;
  height: 120px;
  width: auto;
}

.skills__logo-jquery {
  margin: 0 20px;
  height: 100px;
  width: auto;
}

.skills__logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch {
  margin: 0 40px;
}

.projects__container {
  margin: 45px auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  width: 70%;
}

.test-block {
  position: relative;
  width: 300px;
  height: 300px;
  background: black;
  border-radius: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.test-block:hover {
  width: 300px;
  height: 300px;
  background: black;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background: blue;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.description:hover {
  opacity: 1;
}

.description__heading {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: white;
  text-decoration: underline;
  letter-spacing: 1.5px;
}

.description__text {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: white;
  letter-spacing: 1.2;
}
/*# sourceMappingURL=styles.css.map */