*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: var(--color-primary);
  color: white;
}

::selection {
  background: var(--color-primary);
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 0.7rem;
  line-height: 1.1;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

h1 {
  font-size: 7rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 4rem;
  letter-spacing: 1.5px;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

/*Blocks*/
.glass {
  background-color: linear-gradient(225deg, rgba(255, 255, 255, 0.93) 0%, rrgba(255, 255, 255, 0.2) 100%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.block {
  padding: 3rem 0;
}

/*buttons*/
.btn-outline {
  border: 2px solid white;
  color: white;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.btn-outline:hover {
  color: black;
  background: white;
}

.btn-primary {
  border: 2px solid #3c91ff;
  color: #3c91ff;
  background: transparent;
  -webkit-transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

.btn-primary:hover {
  color: white;
  background: #3c91ff;
}

.btn-primary:focus {
  color: white;
  background: #0068ef;
  -webkit-box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
          box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.26);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.btn {
  margin: 20px 10px;
  outline: 0;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

/*lists*/
.list {
  padding-left: 40px;
}

.list__item {
  line-height: 1.8;
  font-size: 2.2rem;
  font-weight: 600;
  list-style: none;
  list-style-image: url(../images/tick.svg);
}

/*Cards*/
.card {
  -webkit-box-shadow: 0 0 20px 10px rgba(116, 116, 116, 0.486);
          box-shadow: 0 0 20px 10px rgba(116, 116, 116, 0.486);
  margin: 30px 10px;
  padding: 15px;
  border-radius: 5px;
  width: 700px;
  background-image: linear-gradient(300deg, rgba(2, 0, 36, 0) 0%, #fffefe 50%), url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);
  -webkit-transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: 0 0 40px 10px lightgray;
          box-shadow: 0 0 40px 10px lightgray;
}

header {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(49deg, #8ec5fc 0%, #e0c3fc 100%);
}

.hero__container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  gap: 20px;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -webkit-box-shadow: 0 30px 80px rgba(0, 0, 0, 0.425);
          box-shadow: 0 30px 80px rgba(0, 0, 0, 0.425);
  width: 60vw;
  height: 85vh;
  border-radius: 25px;
  overflow: hidden;
  z-index: 2;
}

.hero__block1 {
  text-align: left;
  padding: 15px 25px;
  color: white;
}

.hero__block1 h1 {
  font-weight: 300;
  font-size: 9rem;
}

.hero__block1 h2 {
  font-size: 5rem;
  font-weight: 600;
}

.hero__block1 .btn {
  margin-top: 40px;
  margin-left: 0;
  width: 60%;
}

.hero__block2 {
  position: relative;
}

.hero__img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
}

.hero__svg1, .hero__svg2, .hero__svg3 {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 70px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #807eff;
}

.hero__svg2 {
  top: 45%;
  left: 20%;
  fill: #b255ff;
}

.hero__svg3 {
  top: 30%;
  left: 80%;
  fill: #3c91ff;
}

.circle {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 300px;
  height: 300px;
  position: absolute;
  top: 550px;
  left: 200px;
  z-index: 0;
  background-image: linear-gradient(49deg, #2929ff88 0%, #807eff5e 100%);
}

.circle2 {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 170px;
  height: 170px;
  position: absolute;
  top: 30px;
  left: 310px;
  z-index: 0;
  background-image: linear-gradient(305deg, #298dff88 0%, #807eff5e 100%);
}

.square {
  width: 500px;
  height: 500px;
  background-image: linear-gradient(45deg, #a239f754 60%, #3c91ff 100%);
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 200px;
  border-radius: 25px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.polygon {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  width: 400px;
  height: 400px;
  background-image: linear-gradient(135deg, #a239f754 0%, #3c91ff 80%);
  z-index: 0;
  position: absolute;
  top: 450px;
  right: 200px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  gap: 0px;
  width: 1500px;
  margin: 0 auto;
}

.logos-container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__logo {
  margin: 0 20px;
  height: 120px;
  width: auto;
}

.skills__logo-jquery {
  margin: 0 20px;
  height: 100px;
  width: auto;
}

.skills__logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects__switches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.switch {
  margin: 0 40px;
}

#landing-pages {
  display: none;
}

.projects__container {
  margin: 45px auto 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  gap: 0px;
  width: 60%;
}

.test-block {
  position: relative;
  width: 300px;
  height: 300px;
  background: black;
  border-radius: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  overflow: hidden;
  margin: 40px 0;
  -webkit-box-shadow: 0 20px 50px black;
          box-shadow: 0 20px 50px black;
}

.email__img {
  height: 100%;
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.email2__img {
  height: 100%;
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: -20px;
     object-position: -20px;
}

.email3__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: -160px;
     object-position: -160px;
}

.email4__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: -160px;
     object-position: -160px;
}

.email5__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: -170px;
     object-position: -170px;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.877);
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.description:hover {
  opacity: 1;
}

.description__heading {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: white;
  text-decoration: underline;
  letter-spacing: 1.5px;
}

.description__text {
  margin: 0;
  padding: 10px;
  text-align: center;
  color: white;
  letter-spacing: 1.2;
}
/*# sourceMappingURL=styles.css.map */