<section id="projects" class="block projects">
  <div class="projects__square1 project-shape"></div>
  <div class="projects__square2 project-shape"></div>
  <div class="projects__switches">
    <button autofocus id="email-switch" class="btn btn-primary switch">
      HTML Emails
    </button>
    <button id="pages-switch" class="btn btn-secondary switch">
      Landing Pages
    </button>
    <button id="websites-switch" class="btn btn-accent switch">Websites</button>
  </div>
  <div id="emails" class="projects__container glass">
    <div class="test-block">
      <img
        class="email__img"
        src="./images/email_nakedwines.jpg"
        alt="HTML email project one naked wines newsletter"
      />
      <div class="description">
        <h4 class="description__heading">Newsletter</h4>
        <p class="description__text">
          Newsletter email for NakedWines about new bottles for sale.
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          target="_blank"
          href="https://optimistic-einstein-417864.netlify.app/"
          class="btn btn-outline"
          >View Project</a
        >
      </div>
    </div>
    <div class="test-block">
      <img
        class="email2__img"
        src="./images/email_robinhood.jpg"
        alt="HTML email project two Robinhood snacks newsletter"
      />
      <div class="description">
        <h4 class="description__heading">Newsletter</h4>
        <p class="description__text">
          Newletter from RobinHood on stocks that are on the rise and investment
          news.
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          target="_blank"
          href="https://gifted-leavitt-d651f9.netlify.app/"
          class="btn btn-outline"
          >View Project</a
        >
      </div>
    </div>
    <div class="test-block">
      <img
        class="email3__img"
        src="./images/email_reverbnation.png"
        alt="HTML email project three reverb nation promotional"
      />
      <div class="description">
        <h4 class="description__heading">Promotional</h4>
        <p class="description__text">
          Promotional email for Reverb Nation explaining the benefits of
          livestreaming.
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://cocky-hugle-7a2dd9.netlify.app/"
          class="btn btn-outline"
          >View Project</a
        >
      </div>
    </div>
    <div class="test-block">
      <img
        class="email4__img"
        src="./images/email_nakedwines_transaction.png"
        alt="HTML email project four naked wines transaction receipt"
      />
      <div class="description">
        <h4 class="description__heading">Transactional</h4>
        <p class="description__text">
          Receipt from NakedWines after a purchase.
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://mystifying-wozniak-f10866.netlify.app/"
          class="btn btn-outline"
          >View Project</a
        >
      </div>
    </div>
    <div class="test-block">
      <img
        class="email5__img"
        src="./images/email_brandcrowd.png"
        alt="HTML email project five brandcrowd promotional"
      />
      <div class="description">
        <h4 class="description__heading">Promotional</h4>
        <p class="description__text">
          Email from BrandCrowd on logo creation and sign up reasons.
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://sleepy-pike-ad7dc1.netlify.app/"
          class="btn btn-outline"
          >View Project</a
        >
      </div>
    </div>
  </div>
  <div id="landing-pages" class="projects__container glass">
    <div class="test-block">
      <img
        class="landing-one-img"
        src="./images/solar_landing_page.png"
        alt="Landing Page project one - solar panel distributor"
      />
      <div class="description">
        <h4 class="description__heading">Solar Panels</h4>
        <p class="description__text">
          Landing Page for promoting a ficticious company Solar Energy Solutions
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://hardcore-goldberg-b766a3.netlify.app/"
          class="btn btn-outline"
          >View Project</a
        >
      </div>
    </div>
    <div class="test-block">
      <img
        class="landing-two-img"
        src="./images/legal_landing_page.png"
        alt="Landing Page project two - legal audit representative"
      />
      <div class="description">
        <h4 class="description__heading">Legal Page</h4>
        <p class="description__text">
          Landing page for a law firm promoting representation for audits.
        </p>
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://laughing-khorana-b32927.netlify.app/"
          class="btn btn-outline"
          >View Project</a
        >
      </div>
    </div>
  </div>
  <div id="websites" class="projects__container glass">
    <div class="test-block">
      <div class="description">
        <h4 class="description__heading">Page</h4>
        <p class="description__text">
          This is the secription for the Landing Page.
        </p>
        <a href="#" class="btn btn-outline">View Project</a>
      </div>
    </div>
  </div>
</section>
