<section id="about" class="block about">
  <div class="about__circle1 about-shape"></div>
  <div class="about__circle2 about-shape"></div>
  <div class="about__container">
    <div class="about__text glass">
      <h2>About Me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        obcaecati eligendi aliquid assumenda distinctio laboriosam quasi sequi
        labore ratione accusamus quia beatae velit rerum magni dolorum modi
        corrupti excepturi nam accusantium unde omnis, alias deleniti. Deleniti
        aliquid odit maiores, explicabo minima aliquam, eum quis tempore quia,
        totam culpa laudantium? Corporis!
      </p>
    </div>
    <div class="about__logo-container glass">
      <img
        class="logo-img-sm logo"
        src="./images/html_logo.png"
        alt="HTML5 Logo"
      />
      <img
        class="logo-img-sm logo"
        src="./images/css_logo.png"
        alt="CSS3 Logo"
      />
      <img
        class="logo-img-sm logo"
        src="./images/js_logo.png"
        alt="Java Script Logo"
      />
      <img
        class="logo-img-sm logo"
        src="./images/sass_logo.png"
        alt="SASS Logo"
      />
      <img
        class="logo-img-lg logo"
        src="./images/JQuery-Logo.png"
        alt="JQuery Logo"
      />
      <img
        class="logo-img-lg logo"
        src="./images/ajax_logo.png"
        alt="Ajax Logo"
      />
    </div>
  </div>
</section>
