<section class="skills">
  <div class="card-container">
    <div class="card">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <ul class="list">
        <li class="list__item">placehold</li>
        <li class="list__item">placehold</li>
        <li class="list__item">placehold</li>
      </ul>
    </div>
    <div class="card">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <ul class="list">
        <li class="list__item">placehold</li>
        <li class="list__item">placehold</li>
        <li class="list__item">placehold</li>
      </ul>
    </div>
    <div class="card">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <ul class="list">
        <li class="list__item">placehold</li>
        <li class="list__item">placehold</li>
        <li class="list__item">placehold</li>
      </ul>
    </div>
    <div class="card">
      <h3>Lorem ipsum dolor sit amet.</h3>
      <ul class="list">
        <li class="list__item">placehold</li>
        <li class="list__item">placehold</li>
        <li class="list__item">placehold</li>
      </ul>
    </div>
  </div>
  <div class="skills__logos-section">
    <div class="logos-container">
      <img class="skills__logo" src="./images/html_logo.jpg" alt="" />
      <img class="skills__logo" src="./images/css_logo.jpg" alt="" />
      <img class="skills__logo" src="./images/js_logo.jpg" alt="" />
      <img class="skills__logo" src="./images/sass_logo.png" alt="" />
      <img
        class="skills__logo-jquery"
        src="./images/photoshop_logo.png"
        alt=""
      />
    </div>
    <div class="logos-container">
      <img
        class="skills__logo-jquery"
        src="./images/1280px-JQuery-Logo.png"
        alt=""
      />
      <img class="skills__logo-jquery" src="./images/ajax_logo.png" alt="" />
    </div>
  </div>
</section>
